.column1{
  width: 300px;
  float: left;
  background-color: blue;
}

.column2{
  width: 300px;
  float: left;
  background-color: pink;
}

.column3{
  width: 300px;
  float: left;
  background-color: purple;
}

img {
  width: 200px;
  height: 200px;
}